@use "../../variables.scss";

.div__education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;

  &-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-line {
    background-color: variables.$color_accessible2_1;

    width: 2px;
    height: 100px;
    margin: 10px;
    position: relative;
  }
}

.self_education {
  width: 200px;
  height: 200px;
  background-color: red;
}
