@use "../../variables.scss";

.div__creation {
  margin: 20px 0;
  padding: 15px 30px;
  background-color: variables.$color_interactive1_1;
  box-shadow: 0px 3px 15px 0px #0000001a;
  border-radius: 20px;

  @media (max-width: variables.$breakpoint-tablet) {
    padding: 10px 20px;
    border-radius: 10px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: variables.$color_accessible2_1;
    margin-bottom: 25px;

    @media (max-width: variables.$breakpoint-desktop-large) {
      font-size: 16px;
    }

    @media (max-width: variables.$breakpoint-tablet) {
      margin-bottom: 15px;
    }
  }

  .tags {
    margin: 15px 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .img__tag {
    height: 40px;
  }

  .img__creation {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid variables.$color_accessible2_1;
    border-radius: 5px;
  }
}

.div__cards {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  height: 200px;
}

.div__creation:hover .div__cards {
  transform: rotateY(180deg);
}

.card__front{
  width:100%;
  height: 200px;
  position: absolute;
  backface-visibility: hidden;

}

.card__back {
  display: flex;
  flex-direction: column;
  position: absolute;
  backface-visibility: hidden;
  height: 180px;
  padding: 10px;
  border-radius: 5px;
  background-color: variables.$color_background1_1;
  color: variables.$color_accessible2_1;
  border: 1px solid variables.$color_accessible2_1;
  transform: rotateY(180deg);

  &-title {
    font-size: 14px;
    font-weight: 700;
    color: variables.$color_accessible2_2;
    margin-bottom: 5px;
  }

  &-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:10px;

    a {
      cursor: pointer;

      &:hover {
        color: variables.$color_solid1_1;
      }

      color: inherit;
      text-decoration: none;
    }
  }

  &-button-open {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: variables.$color_solid1_1;
    color: white;
    text-align: center;
    align-content: center;

    &:hover {
      cursor: pointer;
      background-color: variables.$color_interactive1_1;
      color: variables.$color_accessible1_1;
    }
  }
}
