@use "../../variables.scss";

.section__navbar{
  z-index: 99;
  position:sticky;
  top:0;

  @media (max-width: variables.$breakpoint-desktop) {
    position:relative;
  }
}

.__section{
  margin-top:100px;

  @media (max-width: variables.$breakpoint-desktop) {
    margin-top:80px;
  }

  @media (max-width: variables.$breakpoint-tablet) {
    margin-top:40px;  }
}





