@use "../../variables.scss";

.navbar {
    margin: 0 auto;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &-link {
      text-decoration: none;
      font-size:18px;
      padding:10px 20px;
      color:black;

      &:hover{
        animation: fadeColor_navbar 0.5s forwards; 
      }
    }
}

@keyframes fadeColor_navbar {
  100% {
      background-color: variables.$blue_dark;
      color:white;
  }
}
