@use "../../variables.scss";

.div__step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    color: variables.$color_accessible2_2;
    font-family: "Michroma";
    font-size: 16px;
    font-weight: 700;
  }

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: variables.$color_interactive1_2;
    border-radius: 80px;

    .img__step {
      width: 80%;
    }
  }
  &-text {
    text-align: center;
    margin: 10px 0;
    color: variables.$color_accessible2_1;
    font-size:14px;
  }
}
