@use "variables.scss";

* {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: variables.$color_background2_1;

  @media (max-width: variables.$breakpoint-desktop-large) {
    padding: 0 50px;
  }

  @media (max-width: variables.$breakpoint-desktop) {
    padding: 0 20px;
  }

  @media (max-width: variables.$breakpoint-mobile) {
    padding: 0 10px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: variables.$breakpoint-mobile) {
    padding-top: 20px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  max-width: 1440px;
}

h3 {
  font-size: 44px;
  font-weight: bold;
  color: variables.$color_accessible2_2;
}
