/* =========================================== */
/* VARIABLES */
/* =========================================== */

$primary-color: #134074;
$primary-bg-color:#f5f5f5;
$color2: #13315c;
$color3: #0b2545;
$color4:#8da9c4;

$blue_dark:#444f5f;
$blue_medium:#498ccd;
$blue_light : #daedf8;

$breakpoint-xxs: 370px;
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extralarge: 1768px;

