@use "../../variables.scss";

.div__creations {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @media (max-width: variables.$breakpoint-tablet) {
    padding: 0;

  }
}

.div__projects {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  justify-content: center;
  width: auto;
  gap: 20px;
}

.grid_column {
  background-clip: padding-box;
}
